.navbar{
    display: flex;
    width: 70%;
    justify-content: space-around;

    .navBar-list{
        
        list-style: none;
        text-decoration: none !important;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
    }
    a:-webkit-any-link{
        color: rgba(0,0,0,.4) !important;
        text-decoration: none !important;
    }
    .navBar-item{
        color: rgba(0,0,0,.4) !important;
    font-family: "Montserrat",Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 19px;
    letter-spacing: -.48px;
    }


}